<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404-Not Found</title>
</head>
<style>
    html {
        color-scheme: light dark;
        height:100%;
    }

    body {
        width: inherit;
        height:inherit;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>

<body>
    <div style="display:flex;justify-content:center;align-items: center;width:80%;height:50%;">
        <div style="display:block">
            <h1 style="font-style: italic;">An occur error - 404<br></h1>
            <h2>Not found page!<br></h2>
            <h3 style="color:lightgray">My home page : <a href="http://thanhxk2003.id.vn/">here</a></h3>
        </div>
    </div>
</body>

</html>