<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Thanh!</title>
</head>
<style>
    html{
        height:100%;
        width:100%;
    }
    body{
        height:100%;
        width:100%;
        margin-left:350px;
        margin-top:120px;
    }
</style>
<body>
    <h1 style="font-weight:bold;">Xin chào mọi người!</h1> 
    <h3>Đây là trang web test framework Node.js của mình! Mình là Lê Quang Thanh , lớp 63HTTT1 trường ĐHTL.<br></h3>
    <h3>Cái này chưa có css nên xấu lắm :v</h3>
    <a style="text-decoration: none; font-size:larger;font-style: oblique;" href="http://thanhxk2003.id.vn/User"><p>Hãy bấm vào đây để chuyển hướng trang tạo tài khoản nha!</p></a>
</body>
</html>